.notification {
  position: fixed;
  top: 2rem;
  left: 50%;
  translate: -50% 0;
  background-color: #d2e6fa;
  color: #287aff;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid;
  width: fit-content;
  box-shadow: 0 2px 15px -2px darkgray;
  animation: fadeIn .3s;
  z-index: 10000;
}

.notificationError {
  composes: notification;
  background-color: rgb(255, 210, 210);
  color: rgb(209, 35, 35);
}

.notificationLoading {
  composes: notification;
  background-color: rgb(215, 215, 215);
  color: rgb(70, 70, 70);
}

.spinner {
  animation: rotate 1.25s linear 0s infinite running;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid rgb(70, 70, 70);
  border-top: 3px solid transparent;
  border-radius: 50%;
}

.button {
  padding: .25em;
  border-radius: 5px;
  color: #287aff;
  background-color: #d2e6fa;
  border: 1px solid;
  margin-left: 1em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: .25rem;
  }
}

.button:hover {
  filter: brightness(95%);
}

.buttonError {
  composes: button;
  background-color: rgb(255, 210, 210);
  color: rgb(209, 35, 35);
}

@keyframes fadeIn {
  from {
    margin-top: -3rem;
  } to {
    margin-top: 0;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
} 