.card {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.imgContainer {
  position: relative;
  width: 180px;
  height: 120px;
  border-bottom: 4px solid var(--clr-green);
}

@media (max-width: 475px) {
  .imgContainer {
    width: 100%;
    height: 50vw;
  }  
}

.imgContainer img {
  object-fit: contain;
}

.text {
  width: 60%;
  font-size: 1em;
}

.text h3 {
  color: var(--clr-bg-2);
  margin-bottom: .25em;
}

.text p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .text {
    width: 100%;
    font-size: .85rem;
  }

  .text h3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .text p {
    font-size: .8rem;
  }
}

