.main {
  margin-block: var(--margin-block);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-width: 15rem;
}