.main {
  margin-block: 2rem;
}

/* index.js */

.blog {
  border: 2px solid gray;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 600px;
}

.blog p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.blogsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imgContainer {
  position: relative; 
  z-index: -1;
}

.imgContainer img {
  object-fit: contain;
  z-index: inherit;
}

.info {
  margin-block: 1rem;
}

.info *:not(:last-child) {
  margin-bottom: .75rem;
}

/* [id].js */
.contentContainer > * {
  margin-block: 1rem;
}

.contentContainer ol,
.contentContainer ul {
  padding-left: 1.5em;
}

.contentContainer ol {
  list-style: decimal;
}

.contentContainer ul {
  list-style: circle;
}
