.main {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: space-evenly;
  margin-block: var(--margin-block);
}

.main h1,
.main h2 {
  margin-bottom: 1rem;
}

@media (min-width: 1121px) {
  .main {
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .tourForm {
    width: 80%;
  }

  .tourForm > form, 
  .tourFor > form > * {
    width: 100%;
  }
}

.toursContainer {
  width: 100%;
}

.content * {
  width: 100%;
}

.content * iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
}

.content * ul,
.content * ol {
  padding-left: 2rem;
}

.content * a {
  color: #4586e1;
  text-decoration: underline;
}

.filterLink {
  border: none;
  background-color: transparent;
  padding-block: .25rem;
  color: var(--clr-bg-2);
  cursor: pointer;
  width: max-content;
}

.filterLink:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .linkToReservation {
    display: none;
  }
}

.toursGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr; /* 1 columna en celulares */
}

@media (min-width: 768px) {
  .toursGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
  }
}

@media (min-width: 1024px) {
  .toursGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en PC */
  }
}