.main {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: space-evenly;
  margin-block: var(--margin-block);
}

.main h1,
.main h2 {
  margin-bottom: 1rem;
}

@media (min-width: 1121px) {
  .main {
    flex-direction: row-reverse;
  }
}

.toursContainer {
  width: 100%;
}
