.main {
  margin: var(--margin-block) auto;
  width: fit-content;
}

.contentContainer {
  display: flex;
  gap: 10%;
}

.contentContainer h2 {
  width: max-content;
}

.form {
  max-width: 400px;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}

.form label {
  margin-bottom: .25em;
}

.form textarea {
  min-height: 5.75em;
  max-height: 25.75em;
  position: relative;
}