.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
  margin-block: var(--margin-block);
}

.main h1,
.main h2 {
  margin-bottom: 1rem;
}

@media (min-width: 1121px) {
  .main {
    flex-direction: row;
  }
}

.blogsContainer {
  width: 100%;
}

.searchedContentContainer {
  width: 100%;
  margin-right: 2rem;
}
