.container {
  margin-inline: var(--margin-inline);
}

.marginBlock {
  margin-block: var(--margin-block);
}

.bigTitle {
  font-size: 1.75rem;
}

.mediumTitle {
  font-size: 1.5rem;
}

.centeredMainContent {
  display: grid;
  place-content: center;
  margin-block: var(--margin-block);
}

/* forms */
.input {
  border: 2px solid var(--clr-border-1);
  border-radius: var(--border-radius);
  padding: .5em;
}

.input:focus {
  outline: 2px solid var(--clr-border-2);
}

/* buttons */
.button {
  background-color: var(--clr-button-1);
  border: none;
  border-radius: var(--border-radius);
  color: var(--clr-button-2);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: .9rem;
  padding: .5em 1em;
  transition: box-shadow .15s ease;
}

.button:active {
  filter: brightness(85%)
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    box-shadow: 0 0 0 3px rgba(var(--clr-button-1-rgb), .5);
  }
}

.underlinedButton {
  text-decoration: underline;
}

.navButton {
  transition: opacity .15s ease;
}

@media (hover: hover) and (pointer: fine) {
  .navButton:hover {
    opacity: .75;
  }

  .linkButton:hover {
    text-decoration: underline;
  }
}

/* html string content formatted */
.htmlContent > * {
  margin-block: 1rem;
}

.htmlContent ol,
.htmlContent ul {
  padding-left: 1.5em;
}

.htmlContent ol {
  list-style: decimal;
}

.htmlContent ul {
  list-style: circle;
}

.htmlContent a {
  color: rgb(var(--selection-bg-rgb));
  text-decoration: underline;
  transition: opacity ease .15s;
}

@media (hover: hover) and (pointer: fine) {
  .htmlContent a:hover {
    opacity: .8;
  }
}
