.container {
  margin-inline: var(--inline-margin);
}

/* forms */
.input {
  border: 2px solid var(--clr-border-1);
  border-radius: var(--border-radius);
  padding: .5em;
}

.input:focus {
  outline: 2px solid var(--clr-border-2);
}

/* buttons */
.button {
  background-color: var(--clr-button-1);
  border: none;
  border-radius: var(--border-radius);
  color: var(--clr-button-2);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: .9rem;
  padding: .5em 1em;
}

.button:active {
  filter: brightness(85%)
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    box-shadow: 0 0 0 3px rgba(var(--clr-button-1-rgb), .5);
  }
}

.underlinedButton {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .linkButton:hover {
    text-decoration: underline;
  }
}