.navLinks {
  background-color: #fff;
  box-shadow: 2px 0 15px 2px #ddd;
  list-style: none;
  padding: .5em 1em;
}

.navLinks li {
  margin-block: .5em;
}

.navLinks a {
  color: #5092B9;
  text-decoration: none;
  text-transform: capitalize;
}

.navActive {
  position: absolute;
  transition: transform ease .3s;
  width: 100%;
}

.navInactive {
  composes: navActive;
  transform: translateY(-100%);
}

@media (min-width: 701px) {
  .navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navLinks li {
    margin-inline: .75em;
  }

  .navActive {
    position: relative;
    transition: none;
  }
}