.navLinks {
  background-color: var(--clr-bg-2);
  list-style: none;
  padding: .5em 1em;
  position: relative;
  z-index: 100;
}

@media (max-width: 700px) {
  .navLinks {
    border-bottom: 1px solid #ddd;
  }
}

.navLinks li {
  margin-block: .5em;
}

.navLinks a {
  color: var(--clr-fg-2);
  text-decoration: none;
  text-transform: capitalize;
}

.navActive {
  position: absolute;
  transition: transform ease .3s;
  width: 100%;
}

@media (max-width: 700px) {
  .navActive {
    box-shadow: 0 0 250px 75vh rgba(0, 0, 0, .4);
  }

  .navInactive {
    box-shadow: none;
  }
}

.navInactive {
  composes: navActive;
  transform: translateY(-100%);
}

@media (min-width: 701px) {
  .navLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navLinks li {
    margin-inline: .75em;
  }

  .navActive {
    position: relative;
    transition: none;
  }
}