.loadingSpinner {
  animation: 1s linear infinite running rotate;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid var(--clr-button-1);
  border-left: 3px solid var(--clr-button-1);
  height: .9rem;
  width: .9rem;
  display: inline-block;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}


.button {
  display: inline-flex;
  gap: .5em;
  align-items: center;
}

.loadingButton {
  composes: button;
  color: var(--clr-button-1);
  border: 2px solid var(--clr-button-1);
  background-color: var(--clr-button-2);
  cursor: not-allowed;
}

.loadingButton:hover,
.loadingButton:active {
  box-shadow: none;
  filter: none;
}
