.button {
  position: relative;
}

.spinner {
  animation: 1s linear infinite running rotate;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  /* Centramos usando el transform clásico */
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.button {
  display: inline-flex;
  gap: .5em;
  align-items: center;
  justify-content: center;
}

.loadingButton {
  composes: button;
  color: var(--clr-button-1);
  border: 2px solid var(--clr-button-1);
  background-color: var(--clr-button-2);
  cursor: not-allowed;
}

.loadingButton:hover,
.loadingButton:active {
  box-shadow: none;
  filter: none;
}
