.button {
  position: relative;
}

.spinner {
  animation: 1s linear infinite running rotate;
  height: 1.2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  width: 1.2rem;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}


.button {
  display: inline-flex;
  gap: .5em;
  align-items: center;
}

.loadingButton {
  composes: button;
  color: var(--clr-button-1);
  border: 2px solid var(--clr-button-1);
  background-color: var(--clr-button-2);
  cursor: not-allowed;
}

.loadingButton:hover,
.loadingButton:active {
  box-shadow: none;
  filter: none;
}
