.header {
  position: relative;
}

.headerTop {
  background-color: var(--clr-bg-2);
  display: flex;
  justify-content: space-around;
  padding: 1em;
  position: relative;
  z-index: 10;
}

.controlers {
  align-items: center;
  display: flex;
}

.navButton {
  display: flex;
  flex-direction: column;
  height: 24px;
  justify-content: space-between;
  width: 25px;
}

.navButton > div {
  position: relative;
  height: 4px;
  width: 25px;
  background-color: black;
}

.navButtonActive {
  composes: navButton;
}

.navButtonActive > div {
  background-color: red;
}