.footer {
  background-color: var(--clr-bg-2);
  color: var(--clr-fg-2);
}

.footer a {
  width: fit-content;
}

.colsContainer {
  display: flex;
  flex-direction: column;
}

.colsContainer h3 {
  margin-block: 1em;
}

.newsletter input {
  display: block;
  margin-bottom: .5em;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.socialLinks a {
  align-items: center;
  display: flex;
  gap: .25em;
}

.footerBottom {
  display: flex;
  flex-direction: column;
  gap: .75em;
  padding-block: 2em;
}

@media (min-width: 701px) {
  .colsContainer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
