.messageContainer .message {
  border-radius: var(--border-radius);
  padding: 1em;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: .75em;
}

.error,
.warning,
.info {
  composes: messageContainer;
}

.error .message {
  color: #a92626;
  background-color: #eaa;
}

.warning .message {
  color: #c5b500;
  background-color: #fdf3a8;
}

.info .message {
  color: #1c79c0;
  background-color: #aaccee;
}