.tour {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  max-width: 275px;
}

.imgContainer {
  border-bottom: 4px solid var(--clr-green);
  height: 175px;
  width: 270px;
  position: relative;
}

.imgContainer img {
  object-fit: contain;
  /* padding-bottom: 1rem; */
  z-index: inherit;
}

.infoContainer {
  font-size: .8rem;
}

.infoContainer h3 {
  font-size: 1.25em;
  margin-bottom: .25em  ;
}

.infoContainer p {
  font-size: 1em;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .tour,
  .imgContainer {
    max-width: 150px;
  }  

  .imgContainer {
    height: 100px;
  }

  .infoContainer h3 {
    font-size: 1rem;
  }

  .infoContainer {
    font-size: .75rem;
  }
}